<a href="https://colab.research.google.com/github/sowang2022/Functions/blob/main/Lesson_12(Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

#create some random data
var1 = np.random.randn(100)*5+20
var2 = np.random.randn(100)>0

labels = ['Temp. (C)', 'Ice cream eaten']

#create dict.
D = {labels[0]:var1, labels[1]:var2}
D

# import the dict into a pandas dataframe
df = pd.DataFrame(data=D)
df

    Temp. (C)  Ice cream eaten
0   28.227105             True
1   26.176980             True
2   24.332774             True
3   15.177910             True
4   22.036422            False
..        ...              ...
95  14.870414             True
96  14.069388             True
97  10.818919            False
98  23.367760             True
99  25.101723            False

[100 rows x 2 columns]

In [15]:
df.head(12)

    Temp. (C)  Ice cream eaten
0   28.227105             True
1   26.176980             True
2   24.332774             True
3   15.177910             True
4   22.036422            False
5   17.453991             True
6   19.137319             True
7   21.625190            False
8   25.887946            False
9   10.588791             True
10  19.247040             True
11  17.712240            False

In [17]:
df.count()

Temp. (C)          100
Ice cream eaten    100
dtype: int64

In [20]:
df.mean()

Temp. (C)          20.009696
Ice cream eaten     0.500000
dtype: float64

In [25]:
# exercise: create a pandas dataframe with three variables:
# 1) intergers from 0 - 10
# 2) their square
# 3) their log
nums = np.array(range(11))
D = {'integers':nums, 'square':nums**2, 'log':np.log(nums)}
df = pd.DataFrame(D)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in log

    integers  square       log
0          0       0      -inf
1          1       1  0.000000
2          2       4  0.693147
3          3       9  1.098612
4          4      16  1.386294
5          5      25  1.609438
6          6      36  1.791759
7          7      49  1.945910
8          8      64  2.079442
9          9      81  2.197225
10        10     100  2.302585